.finder-result-card {

    .fa-exclamation-circle {
        margin-bottom: 10px;
    }

    .fa-check-circle {
        margin-bottom: 10px;
    }

    .finder-result-result {
        width: 50%;
    }
}