.app-sidemenu-toolbar .heading .app-logo {
    max-width: 60px;
    min-width: 60px;
    margin-bottom: 10px;
}

.app-sidemenu-toolbar .heading a:link {
    text-decoration: none;
    color: #000000;
}

.app-sidemenu-toolbar .heading a:visited {
    text-decoration: none;
}