<ion-footer>
  <ion-toolbar class="footer-toolbar" color="dark" text-center>
    <ion-row class="sidemenu-rrss">
      <ion-col col-4>
        <a href="https://github.com/JavierTorijanoGaroz/sibyl-finder-app">
          <em class="fab fa-github fa-lg"></em>
        </a>
      </ion-col>
      <ion-col col-4>
        <a href="https://twitter.com/JTorijanoGaroz">
          <em class="fab fa-twitter fa-lg"></em>
        </a>
      </ion-col>
      <ion-col col-4>
        <a href="https://es.linkedin.com/in/javier-torijano-garoz-931751153">
          <em class="fab fa-linkedin fa-lg"></em>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="sidemenu-copy">
      <ion-col col-12>
        <small class="small-text">&copy; Sibyl Finder {{ currentYear }}. All Rights Reserved.</small>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>