.footer-toolbar{
    padding: 12px;
}

.small-text {
    font-size: 14px;
}

.rrss-width {
    width: 600px;
}

.fa-github {
    color: #ffffff;
}

.fa-twitter {
    color: #ffffff;
}

.fa-linkedin {
    color: #ffffff;
}

.sidemenu-copy {
    margin-top: 5px;
}